<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <div class="text-center">
    <h1> Bem-Vindo Administrador <%= current_user.nome %> </h1>
  </div>
  <br>
<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Cadastros<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <div class="col-sm-12">
        <li><%= link_to 'Categorias', new_categoria_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Produtos', new_produto_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Condições', new_condicao_pagamento_path, class: 'btn btn-default admin-button' %></li>
      </div>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Consultas<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <div class="col-sm-12">
        <li><%= link_to 'Categorias', categorias_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Pedidos', pedidos_admin_pedidos_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Produtos', produtos_admin_produtos_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Usuários', users_path, class: 'btn btn-default admin-button' %></li>
        <li><%= link_to 'Condições', condicoes_pagamento_path, class: 'btn btn-default admin-button' %></li>
      </div>
    </ul>
  </li>
</ul>
