<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
  <div class="navbar-header">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
  </div>
  <ul class="nav navbar-nav">
    <li><%= link_to "Pedidos", pedidos_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
        <% if(user_signed_in?) %>
        <% if(current_user.admin) %>
        <li><%= link_to 'Painel Administrativo', admins_path %> </li>
        <% end %>
        <li>
          <%= link_to itens_pedido_path do %>
          <span class="glyphicon glyphicon-shopping-cart"> <%= atualiza_quantidade_itens %> </span>
          <% end %>
        </li>
          <li><%= link_to "Olá, #{current_user.nome}!", edit_user_registration_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete  do %>
              <span class="glyphicon glyphicon-log-out" id="logout"> Logout</span>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"> Login</span>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
</nav>
